  header {
    background-color: #082640;
    color: #FFFFFF;
  }
  body {
    font-family: "Arial";
}
  nav {
  background-color:#1F5373;
  padding: 10px;
}
  h1 {
    text-indent: 10px;
    padding-top: 10px;
    font:italic;

  }
  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: blue;
    font-family: "Arial Black";
  }


@media (prefers-color-scheme: light) {
	body {
		background-color: #f5f5f5;
		color: #222;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}
}
