
  header {
    background-color: #607846;
    color: #FFFFFF;
  }
  body {
    background: linear-gradient(90deg, #b1967B, rgb(204, 204, 255), #1b242b);
}
  nav {
  background-color:#6E7E40; 
  padding: 10px;
}
  h1 {
    text-indent: 10px;
    padding-top: 10px;
    font:italic;
    
  }
  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

.first {
  background-color: #607846;
  /* position: absolute;
  z-index: 2; */
}
.second {
  background-color: #425738;
  /* position: absolute;
  left: 40px;
  top: 50px;
  z-index: 1; */
}
button {
  background-color: #A66F08;
}

/* Color Theme Swatches in Hex */
.waving-colorful-flag-of-sweden.-1-hex { color: #082640; }
.waving-colorful-flag-of-sweden.-2-hex { color: #1F5373; }
.waving-colorful-flag-of-sweden.-3-hex { color: #BF9515; }
.waving-colorful-flag-of-sweden.-4-hex { color: #F2C53D; }
.waving-colorful-flag-of-sweden.-5-hex { color: #A66F08; }
